version: "2.4"
services:
  es-remote:
    image: docker.elastic.co/elasticsearch/elasticsearch:${STACK_VERSION}
    volumes: ["./certs:/usr/share/elasticsearch/config/certs", "data-remote:/usr/share/elasticsearch/data"]
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - node.name=es-remote
      - node.attr.data_type=netflow # Tag for this node
      - node.roles=data,master,ingest
      - cluster.name=${CLUSTER_NAME}
      - discovery.seed_hosts=${FRONTEND_IP},${FRONTEND_IP}:9301
      - network.publish_host=${BACKEND_IP}
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      - xpack.license.self_generated.type=${LICENSE}
      - bootstrap.memory_lock=true
      - xpack.security.enabled=true
      - xpack.security.http.ssl.enabled=true
      - xpack.security.http.ssl.key=certs/wildcard/wildcard.key
      - xpack.security.http.ssl.certificate=certs/wildcard/wildcard.crt
      - xpack.security.http.ssl.certificate_authorities=certs/ca/ca.crt
      - xpack.security.transport.ssl.enabled=true
      - xpack.security.transport.ssl.key=certs/wildcard/wildcard.key
      - xpack.security.transport.ssl.certificate=certs/wildcard/wildcard.crt
      - xpack.security.transport.ssl.certificate_authorities=certs/ca/ca.crt
      - xpack.security.transport.ssl.verification_mode=certificate
      - xpack.security.http.ssl.verification_mode=certificate
    mem_limit: ${MEM_LIMIT}
    ulimits:
      memlock: { soft: -1, hard: -1 }
  logstash:
    image: docker.elastic.co/logstash/logstash:${STACK_VERSION}
    volumes: ["./logstash.conf:/usr/share/logstash/pipeline/logstash.conf", "./certs/ca/ca.crt:/usr/share/logstash/ca.crt"]
    ports: ["2050:2050/udp"]
    environment:
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      - QUEUE_TYPE=persisted
      - QUEUE_MAX_BYTES=1gb

volumes: { data-remote: { driver: local } }
