# Security Credentials
ELASTIC_PASSWORD=changeme
KIBANA_PASSWORD=changeme

# Stack Configuration
STACK_VERSION=9.2.4
CLUSTER_NAME=netflow-cluster
LICENSE=basic

# Networking - Frontend (Centralized Dashboard)
FRONTEND_IP=10.20.30.40
ES_PORT=9200
KIBANA_PORT=5601

# Networking - Backend (Remote Ingestion)
BACKEND_IP=50.60.70.80

# Resource Limits (1GB)
MEM_LIMIT=4294967296
