STACK_VERSION=9.2.4
CLUSTER_NAME=telehouse-flow-cluster
FRONTEND_IP=10.4.4.87
BACKEND_IP=10.4.4.21
MEM_LIMIT=3g
LICENSE=basic
ES_HOSTS=https://10.4.4.87:9200
ES_USER=elastic
ES_PASSWORD=REPLACE_WITH_SECURE_PASSWORD
ELASTIC_PASSWORD=REPLACE_WITH_SECURE_PASSWORD
